{% extends 'backoffice/base.html' %}
{% load static %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<div class="box">
    <div class="box-inner">
      <!-- /.box-title -->
      <div class="row">
        <div class="col-md-12">
          <h6 class="page-title-small mb30">Ganti Password</h6>
          {{ form.non_field_errors }}
          <form method="{{ method|default:'POST'}}" action="{{ action }}">
              {% csrf_token %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
                <div class="form-group">
                    <label for="">Password Lama</label>
                   {{ form.old_password }}
                   {{ form.old_password.errors }}
                </div>
                <div class="form-group">
                    <label for="">Password Baru</label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>
                <div class="form-group">
                    <label for="">Password Baru</label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
    <!-- /.box-inner -->
    </div>
{% endblock %}