{% extends 'backoffice/base.html' %}
{% load static %}
{% block title%} {{ title }} {% endblock %}
{% block extra_header %} 
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="box">
<div class="box-inner">
  <div class="box-title">
    <h2>Forms</h2>
  </div>
  <!-- /.box-title -->
  <div class="row">
    <div class="col-md-12">
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            <strong>{{ form.non_field_errors }}</strong>
            </div>
        {% endif %}
      <form method="{{ method|default:'POST'}}" action="{{ action }}" enctype="multipart/form-data">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
            <div class="form-group">
                <input type="hidden" name="username" value="{{ form.username.value }}">
            </div>
            
            <div class="form-group">
                <label >Nama Lengkap</label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="form-group">
                <label >NIK</label>
                {{ form.nik }}
                {{ form.nik.errors }}
            </div>
            <div class="form-group">
                <label >Jenis Kelamin</label>
                {{ form.gender }}
                {{ form.gender.errors }}
            </div>
            <div class="form-group">
                <label >Tempat Lahir</label>
                {{ form.place_of_birth }}
                {{ form.place_of_birth.errors }}
            </div>
            <div class="form-group">
                <label >Tanggal Lahir</label>
                {{ form.dob }}
                {{ form.dob.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.jenis_kelamin.label }}</label>
                {{ form.jenis_kelamin }}
                {{ form.jenis_kelamin.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.tanggal_lahir.label }}</label>
                {{ form.tanggal_lahir }}
                {{ form.tanggal_lahir.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.pendidikan.label }}</label>
                {{ form.pendidikan }}
                {{ form.pendidikan.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.kabupaten.label }}</label>
                {{ form.kabupaten }}
                {{ form.kabupaten.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.kecamatan.label }}</label>
                {{ form.kecamatan }}
                {{ form.kecamatan.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.kelurahan.label }}</label>
                {{ form.kelurahan }}
                {{ form.kelurahan.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.rt.label }}</label>
                {{ form.rt }}
                {{ form.rt.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.rw.label }}</label>
                {{ form.rw }}
                {{ form.rw.errors }}
            </div>
            <div class="form-group">
                <label >Ibu Hamil</label>
                {{ form.is_pregnant }}
                {{ form.is_pregnant.errors }}
            </div>
            <div class="form-group">
                <label >Menyusui</label>
                {{ form.is_breeding }}
                {{ form.is_breeding.errors }}
            </div>

            {% if request.user.is_superuser %}
                <div class="form-group">
                    <label > Bidan ? </label>
                    {{ form.is_staff }}
                    {{ form.is_staff.errors }}
                </div>
                <div class="form-group">
                    <label >Username</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    <label > Passowrd </label>
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
            {% else %}
                {{ form.username.errors }}
            {% endif %}
            
            <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
<!-- /.box-inner -->
</div>
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'assets/backend/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}