{% extends 'backoffice/base.html' %}
{% load static %}
{% load templatehelpers %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<div class="box">
    <div class="box-inner">
      <div class="box-title">
        <h2>User</h2>
      </div>
      <div class="box-title">
        <form method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" name="folder-name" class="form-control" placeholder="Nama Folder" required >
              </div>
            </div>

            <div class="col-sm-6">
              <div class="input-group">
                <input type="file" name="csv" class="form-control" placeholder="File CSV" accept=".csv" required>
              </div>
            </div>

            <div class="col-sm-2">
              <button type="submit" id="btn-search-fix-h" class="btn btn-primary">
                Submit
              </button>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-12">
              {% if error %} <p style="color: red;">{{ error }}</p>{% endif %}
              {% if success %} <p style="color: green;">{{ success }}</p>{% endif %}
            </div>
          </div>
        </form>
      </div>
  </div>
{% endblock %}
