{% extends 'backoffice/base.html' %}
{% load static %}
{% block title%} Index {% endblock %}
{% block content %}
<div class="box margin-top-profile">
    <div class="profile__content">
        <div class="profile__bio">
            <div class="my-sep1">
                <span>
                    SELAMAT DATANG
                </span>
            </div>
            <h3 class="profile__name">BANK DATA BIDAN</h3>
            <p>{{bidan.name}}</p>
            <hr>
        </div>
    </div>
</div>

<div class="stats">
    <h3>INFORMASI</h3>
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:users'%}">
                <div class="stat-box" style="background-color: #df9c39;">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong> {{ users_count | default:'0' }}</strong>
                    <span>SEMUA DATA</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:hamil'%}">
                <div class="stat-box" style="background-color: hsl(200, 44%, 26%);">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong>{{ hamil | default:'0' }}</strong>
                    <span>HAMIL</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:menyusui'%}">
                <div class="stat-box" style="background-color: #105010;">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong>{{ menyusui | default:'0' }}</strong>
                    <span>MENYUSUI</span>
                </div>
            </a>
        </div>



        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:bayi' %}?age=0-5">
                <div class="stat-box" style="background-color: #3610030;">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong> {{ bayi_0_5 | default:'0' }}</strong>
                    <span>BAYI [0-5] BLN</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:bayi' %}?age=6-11">
                <div class="stat-box" style="background-color: #3610030;">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong> {{ bayi_6_11 | default:'0' }}</strong>
                    <span>BAYI [6-11] BLN</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:balita' %}?age=12-24">
                <div class="stat-box" style="background-color: #363030;">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong> {{ balita_12_24 | default:'0' }}</strong>
                    <span>BALITA [12-24] BLN</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:balita' %}?age=25-35">
                <div class="stat-box" style="background-color: #363030;">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong> {{ balita_25_35 | default:'0' }}</strong>
                    <span>BALITA [25-35] BLNs</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:balita' %}?age=36-60">
                <div class="stat-box" style="background-color: #363030;">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong> {{ balita_36_60 | default:'0' }}</strong>
                    <span>BALITA [36-60] BLN</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:remaja'%}?age=10-14">
                <div class="stat-box" style="background-color: hsl(100, 40%, 26%);">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong>{{ remaja_10_14 | default:'0' }}</strong>
                    <span>REMAJA [10-14] TH</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:remaja'%}?age=15-19">
                <div class="stat-box" style="background-color: hsl(100, 40%, 26%);">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong>{{ remaja_15_19 | default:'0' }}</strong>
                    <span>REMAJA [15-19] TH</span>
                </div>
            </a>
        </div>


      
        

        <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:lansia'%}?age=45-59">
                <div class="stat-box" style="background-color: hsl(35, 52%, 26%);">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong>{{ lansia_45_59 | default:'0' }}</strong>
                    <span>LANSIA [45-59] TH</span>
                </div>
            </a>
        </div>

         <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:lansia'%}?age=60-69">
                <div class="stat-box" style="background-color: hsl(35, 52%, 26%);">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong>{{ lansia_60_69 | default:'0' }}</strong>
                    <span>LANSIA [60-69] TH</span>
                </div>
            </a>
        </div>

       <div class="col-md-6 col-lg-3">
            <a href="{% url 'backoffice:lansia'%}?age=70-200">
                <div class="stat-box" style="background-color: hsl(35, 52%, 26%);">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong>{{ lansia_70_200 | default:'0' }}</strong>
                    <span>LANSIA [>70] TH</span>
                </div>
            </a>
        </div> 
        
    </div>
</div>

{% endblock %}