{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="{% static 'css/trackpad-scroll-emulator.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/chartist.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jquery.raty.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/nouislider.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/explorer.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/ico/sahabatelvine.ico'%}">
    <title>Login - Explorer</title>
  </head>
  <body class="">
    <div class="page-wrapper">
      <div class="main-wrapper">
        <div class="main">
            <div class="container" style="text-align: center; margin-top: 5%;">
              <div class="row" style="margin-top: 40px;">
                
                <div class="col-sm-4 offset-sm-4">
                  
                  <h2 >BANK DATA BIDAN</h2>
                  <h3 class="page-title-small">Login </h1>
                  
                  <form method="post" action="{% url 'backoffice:login'%}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="login-form-email">Username</label>
                      <input type="text" name="username" class="form-control" autofocus="" required="" id="id_username">                    </div>
                      {{ auth_form.username.errors }}
                      <!-- /.form-group -->
                    <div class="form-group">
                      <label for="login-form-password">{{ auth_form.password.label }}</label>
                      <input type="password" class="form-control" name="password" required="" id="id_password">                    </div>
                      {{ auth_form.password.errors }}
                      <!-- /.form-group -->

                      {% if auth_form.non_field_errors %}
                          {% for error in auth_form.non_field_errors %}
                              <p>{{ error }}</p>
                          {% endfor %}
                      {% endif %}

                    <button type="submit" class="btn btn-primary pull-right">Login</button>
                  </form>
                </div>
                <!-- /.col-sm-4 -->
              </div>
              <!-- /.row -->
            <!-- /.container-fluid -->
          </div>
        <!-- /.main -->
      </div>
      <!-- /.main-wrapper -->
    <!-- /.side-wrapper -->
      <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/particles.min.js' %}"></script>
      <script>
          var el = $('#particle-js');
          if (el.length) {
              particlesJS.load('particle-js', '{% static "json/particles.json" %}', function() {});
          }
      </script>
    </body>
</html>