{% extends 'backoffice/base.html' %}
{% load static %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<div class="box margin-top-profile">
  <div class="profile__content">
    <div class="profile__bio">
      <h3 class="profile__name">{{ user.name }}</h3>
      <hr>
      <div class="overview align-left">
        <div class="row">
          <div class="col-sm-6">
            <ul>
              <li><strong>NIK</strong><span>{{ user.nik | default:'-'}}</span></li>
              {% comment %} <li><strong>Mobile Number</strong><span>{{ user.mobile_number | default:'-' }}</span></li> {% endcomment %}
              <!-- <li><strong>Wilayah</strong><span>{{ user.region_type | default:'-' }}</span></li> -->
              <!-- <li><strong>Provinsi</strong><span>{{ user.province | default:'-' }}</span></li>
              <li><strong>Kabupaten</strong><span>{{ user.kabupaten | default:'-' }}</span></li> -->
              <li><strong>Kabupaten</strong><span>{{ user.kecamatan | default:'-' }}</span></li>
              <li><strong>Kecamatan</strong><span>{{ user.kecamatan | default:'-' }}</span></li>
              <li><strong>Kelurahan</strong><span>{{ user.kelurahan | default:'-' }}</span></li>
              <li><strong>RT / RW</strong><span>{{ user.rt | default:'-' }} / {{ user.rw | default:'-' }}</span></li>
            </ul>
          </div>
          <div class="col-sm-6">
              <ul>
                <li><strong>Jenis Kelamin</strong><span>{{ user.get_gender_display | default:'-' }}</span></li>
                <li><strong>TTL</strong><span>{{ user.place_of_birth }} {{ user.dob }}</span></li>
                <li><strong>Usia</strong><span>{{ user.age_string }}</span></li>
                
              </ul>
            </div>  
        </div>
      </div>
      <a href="{% url 'backoffice:delete' user.id %}" class="btn btn-primary">Hapus</a>
    </div>
  </div>
</div>
{% endblock %}
